@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #DAFFFB;
  margin: 0;
  padding: 0;
}

header {
  background-color: #176B87;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

h1, p {
  margin: 10px;
}

h2 {
  color: #5a8383;
}

h3 {
  color: #3a4444;
  margin-top: 35px;
}

nav ul li {
  display: inline;
  margin-right: 20px; 
}

li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

ul:hover {
  transition: all 0.3s;
}

li a:hover {
  background-color: white;
  color: #234e70;
  transition: 0.3s;
  font-weight: bold;
  border-radius: 5px;
}

main {
  margin-top: 50px;
  padding: 20px;
  overflow: auto;
}

.featured-image {
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.penjelasan{
  text-align: justify;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.text-aside {
  text-align: center;
}

.profile img {
  max-width: 200px;
}

footer {
  text-align: center;
  padding: 0.5px;
  color: white;
  background-color: #176B87;
}

@media screen and (max-width: 1000px) {
  #content {
    width: 100%;
  }

  .featured-image {
    width: 100%;
  }

  aside {
    width: 100%;
    padding: 0;
  }
}
